/* - - - HEADER - - - */
.my-header{
    display: flex;
    width: 100%;
    background: linear-gradient(90deg, #f5dfef, #e6f0ff);
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.my-header .header-menu a{
    color: #007bff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.my-header .header-menu a:hover{
    letter-spacing: 2px;
    color: #00509e;
    transform: translateY(-2px);
}

/* Header user icons */
.my-header .header-user i{
    transition: all 0.3s ease;
}

.my-header .header-user i:hover{
    color: #00509e;
    transform: scale(1.2);
}

/* - - - SIDEBAR - - - */
.container .sidebar ul li:hover span{
    background: linear-gradient(90deg, #0E3150, #3f508f);
    color: white;
    transition: all 0.3s ease;
    transform: translateX(5px);
}

.container .sidebar ul li ul li:hover{
    color: #007bff;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

/* - - - ITEM BOX - - - */
.item-box{
    margin: 15px;
    padding: 10px;
    width: 250px;
    height: 350px;
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: all 0.4s ease;
    background-color: #fff;
}

.item-box:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.item-box .item-img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.item-box .item-img img:hover{
    transform: scale(1.05);
}

/* - - - FOOTER - - - */
.my-footer .footer-content a:hover{
    color: #fdc500;
    text-decoration: underline;
    transform: scale(1.05);
    transition: 0.3s ease;
}

/* - - - SLIDER - - - */
.container .content .fade {
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    0% {opacity: 0.2;}
    50% {opacity: 0.6;}
    100% {opacity: 1;}
}
