/* - - - SEPET BOS - - - */
.sepet-bos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-weight: bold;
    color: #d9534f;
    transition: all 0.3s ease;
}

.sepet-bos i{
    font-size: 50px;
    margin-bottom: 20px;
    animation: bounce 1s infinite;
}

.sepet-bos p{
    margin-bottom: 20px;
    font-size: 18px;
}

.sepet-bos a{
    color: white;
    background-color: #0E3150;
    border-radius: 5px;
    padding: 12px 25px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.sepet-bos a:hover{
    color: #0E3150;
    background-color: white;
    border: 1px solid #0E3150;
    transform: scale(1.05);
}

/* Bounce Animasyonu */
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* - - - SEPET HEADER - - - */
.sepetim-header{
    background-color: #dfdfdf;
    color: #0E3150;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

/* - - - SEPET TABLE - - - */
.sepet-table{
    width: 100%;
    overflow-x:auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

th, td {
    text-align: left;
    padding: 10px 5px;
}

tr:nth-child(even){background-color: #f9f9f9;}
tr:hover {
    background-color: #e0e0e0;
    transform: scale(1.01);
    transition: all 0.25s ease;
}

/* Butonlar */
.btn{
    font-weight: bold;
    border-radius: 5px;
    padding: 6px 10px;
    transition: all 0.3s ease;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.siparis{
    color: white;
    background-color: #5cb85c;
}

.iptal{
    background-color:#d9534f;
    color: white;
}

/* Onay Butonu */
.onay{
    width: 100%;
    padding: 12px 0;
    border: 1px solid;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.onay:hover{
    color: #007bff;
    background-color: white;
    letter-spacing: 2px;
    cursor: pointer;
    border-color: #007bff;
    transform: scale(1.05);
}
