/* - - - HEADER - - - */
.my-header .header-logo{
    width: 100%;
    justify-content: center; /* space-around yerine ortala */
    margin-left: 0;
    padding: 10px 0;
    transition: all 0.3s ease;
}

.my-header .header-menu{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-header .header-menu a{
    padding: 10px 0;
    transition: all 0.3s ease;
}

.my-header .header-menu a:hover{
    color: #00509e;
    transform: scale(1.05);
}

.my-header .header-user .header-hesabim{
    margin-right: 0; /* küçük ekranda tek satırda margin kaldır */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* - - - FOOTER - - - */
.my-footer .footer-content{
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.my-footer .footer-content .footer-logo,
.my-footer .footer-content .footer-menu,
.my-footer .footer-content .footer-user,
.my-footer .footer-content .footer-social-media{
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

.my-footer .footer-content a{
    transition: all 0.3s ease;
}

.my-footer .footer-content a:hover{
    color: #fdc500;
    transform: scale(1.05);
}
